<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <title>FullScreen Search Box</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    {% load static %}
    <link rel = "stylesheet" href="{% static 'main.css' %}">

</head>

<body>
    <div class="wrapper">
        <div class="search-btn">
            <a href='/search'><span class="fas fa-search"></span></a>
        </div>
    </div>
</body>
</html>